@import '../../helpers/colors.scss';

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: fit-content;
  min-height: 70vh;
  .servicesTitle {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 25px;

    h2 {
      font-size: 40px;
      font-weight: 400;
      color: $a-black;
    }
  }

  .servicesContent {
    display: flex;
    flex-direction: row;
    // max-height: 50vh;
    width: 100%;
    justify-content: space-around;
    height: auto;
    margin-bottom: 50px;
    .left {
      // animation: slideInLeft 1s ease forwards;
      .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        width: 300px;
        .imgContainer {
          margin-right: 15px;

          .serviceImg {
            height: 50px;

            @media (hover: hover) {
              transition: transform 0.3s ease;

              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }

    .right {
      // animation: slideInRight 1s ease forwards;
      .service {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        width: 300px;
        .imgContainer {
          margin-left: 15px;

          .serviceImg {
            height: 50px;

            @media (hover: hover) {
              transition: transform 0.3s ease;

              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .services {
    height: 100%;
    min-height: max-content;

    .servicesContent {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 50px;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        .service {
          flex-direction: row; /* Aplique flex-direction aquí */
          .imgContainer {
            margin-right: 15px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .services {
    .servicesContent {
      .left,
      .right {
        .service {
          width: 200px;
        }
      }
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
