@import '../../helpers/colors.scss';

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  min-height: max-content;

  .servicesTitle {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 25px;

    h2 {
      font-size: 40px;
      font-weight: 400;
      color: $a-black;
    }
  }

  .servicesContent {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    justify-content: space-around;

    .left {
      .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 10px;

        .imgContainer {
          margin-right: 15px;

          .serviceImg {
            height: 50px;

            @media (hover: hover) {
              transition: transform 0.3s ease;

              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }

    .right {
      .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 10px;

        .imgContainer {
          margin-left: 15px;

          .serviceImg {
            height: 50px;

            @media (hover: hover) {
              transition: transform 0.5s ease;

              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    height: 100vh;
    min-height: fit-content;

    .servicesContent {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .right .service {
      flex-direction: row;

      @media (hover: hover) {
        transition: transform 0.3s ease;

        &:hover {
          transform: rotate(45deg);
        }
      }

      .imgContainer {
        margin-right: 15px;
        margin-left: 0;
      }
    }
  }
}
