.contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000629;

  .contactContainer {
    width: 100%;
    position: relative; /* Cambiado de absolute a relative */
    z-index: 0;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin: 0;
      min-height: 100vh;
    }
    .contentContainer {
      display: flex;
      width: 100%;
      position: absolute;
      top: 0;
      height: 100%;
      justify-content: center;
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        h1 {
          font-size: 72px;
          color: white;
          font-weight: 400;
          margin-bottom: 15px;
        }
        .contentLeftAndRight {
          display: flex;
          flex-direction: row;
          .left {
            width: 300px;
            background: white;
            p {
              padding: 25px 30px;
              color: #0f3195;
              font-size: 18px;
              font-weight: 300;
              line-height: 1.3;
            }
          }
          .right {
            width: 300px;
            background: #111111;
            .formContainer {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              gap: 15px;
              padding: 20px;
            }
            .input {
              height: 30px;
              border-radius: 5px;
              border: none;
              width: 90%;
              padding: 5px;
              &::placeholder {
                font-size: 14px;
                font-weight: 300;
              }
            }
            textarea {
              border-radius: 5px;
              border: none;
              width: 90%;
              padding: 5px;
              &::placeholder {
                font-size: 14px;
                font-weight: 300;
              }
            }
            .submitBtn {
              padding: 10px;
              background-color: #0f3195;
              border: none;
              border-radius: 5px;
              color: white;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
// background-color: #154b76;

@media screen and (max-width: 768px) {
  // .contact .contactContainer {
  //   height: 90vh;
  // }
  .contact .contactContainer .contentContainer .content {
    align-items: center;
  }
  .contact .contactContainer .contentContainer .content h1 {
    font-size: 60px;
  }
  .contact .contactContainer .contentContainer .content .contentLeftAndRight {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .contactContainer .contentContainer .content .contentLeftAndRight {
    margin: 0 25px 0 25px;
  }

  .contact
    .contactContainer
    .contentContainer
    .content
    .contentLeftAndRight
    .right
    .formContainer {
    padding: 20px;
  }
}

@media screen and (max-width: 350px) {
  .contact .contactContainer {
    width: 100%;
  }
  .contact .contactContainer .content h1 {
    width: 250px;
  }
  .contact
    .contactContainer
    .contentContainer
    .content
    .contentLeftAndRight
    .right {
    width: 250px;
  }
  .contact
    .contactContainer
    .contentContainer
    .content
    .contentLeftAndRight
    .left {
    width: 250px;
  }
}
