.contact {
  display: flex;
  flex-direction: column;
  min-height: max-content;
  .contactContainer {
    width: 100%;
    position: relative; /* Cambiado de absolute a relative */
    z-index: 0;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin: 0;
    }
    .contentContainer {
      display: flex;
      width: 100%;
      position: absolute;
      top: 0;
      height: 100%;
      justify-content: center;
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        h1 {
          font-size: 72px;
          color: white;
          font-weight: 400;
          margin-bottom: 15px;
        }
        .contentLeftAndRight {
          display: flex;
          flex-direction: row;
          .left {
            width: 300px;
            background: #154b76;
            p {
              padding: 25px 30px;
              color: white;
              font-size: 18px;
              font-weight: 300;
              line-height: 1.3;
            }
          }
          .right {
            width: 300px;
            background: #111111;
            .formContainer {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              gap: 15px;
              padding: 20px;
            }
            .input {
              height: 30px;
              border-radius: 5px;
              border: none;
              width: 90%;
              padding: 5px;
              &::placeholder {
                font-size: 14px;
                font-weight: 300;
              }
            }
            textarea {
              border-radius: 5px;
              border: none;
              width: 90%;
              padding: 5px;
              &::placeholder {
                font-size: 14px;
                font-weight: 300;
              }
            }
            .submitBtn {
              padding: 10px;
              background-color: #154b76;
              border: none;
              border-radius: 5px;
              color: white;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
