@import '../../helpers/colors.scss';

.home {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/maxjhernandez/image/upload/v1706795418/Disen%CC%83o_sin_ti%CC%81tulo_8_erlfx2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: max-content;
  .container {
    background-color: #00000030;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .homeContent {
      display: flex;
      flex-direction: column;
      width: 900px;
      align-items: center;
      gap: 25px;
      .title {
        color: $a-white;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
      }
      .subtitle {
        color: $a-white;
        font-size: 22px;
        font-weight: 200;
        text-align: center;
      }
      .button {
        padding: 10px;
        background-color: $a-light-blue;
        border: none;
        border-radius: 10px;
        width: 250px;
        color: $a-white;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background-color: $a-white;
          color: $a-light-blue;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home .container .homeContent .title {
    font-size: 32px;
    width: 90%;
  }
  .home .container .homeContent .subtitle {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .home {
    .container {
      min-height: 100%;

      .homeContent .title {
        font-size: 32px;
        width: 90%;
      }
    }
  }
  .home .container .homeContent .button {
    width: 60%;
  }
}
