.wppContainer {
  .wppImg {
    width: 30px;
    height: 30px;
    z-index: 999;
    position: fixed;
    bottom: 25px;
    right: 25px;

    cursor: pointer;
    &:hover {
      transform: translate(-1px, -3px);
      -webkit-transform: translate(-1px, -3px);
      -moz-transform: translate(-1px, -3px);
    }
  }
}

@media (max-width: 768px) {
  .wppContainer {
    .wppImg {
      width: 80px;
      height: 80px;
      bottom: 20px;
      right: 20px;
    }
  }
}
