//PALETA
$a-dark-blue: #001f3f;
$a-light-blue: #39cccc;
$a-grey: #dddddd;
$a-dark-grey: #d3d3d3;
$a-orange: #ff851b;
$a-white: #ffffff;
$a-black: #111111;
$navbar-background-light: #00000010;

//NAVBAR ORIGINAL
$navbar-background: #00000060;
$navbar-background-expanded: #000000;
$navbar-background-expanded-menu: #000000;
$navbar-expanded-link-text-color: #39cccc;
$navbar-logo-hover: #00d1cdb0;
$navbar-toggle-icon: #39cccc;
$navbar-link-text-hover: #39cccc;
$navbar--link-text-color: #ffffff;
//PRODUCTS ORIGINAL
$products-title: #0c5278;
$products-background: #bbc1d1;
$products-hover: #0c5278;
$products-description-background: #0c5278;
$products-cards-title: #e0e2e8;
$products-cards-text: #e0e2e8;
// ABOUT US ORIGINAL
$about-us-background: #efefefa5;
$about-us-text: #001627;
// CONTACT ORIGINAL
$contact-background: #001627;
$contact-title: #ffffff;
$contact-text-container: #ffffff;
$contact-text-container-text: #0c5278;
$contact-form-container: #111111;
$contact-form-button-background: #0c5278;
$contact-form-button-text: #ffffff;
//FOOTER ORIGINAL
$footer-background: #111111;
$footer-text: #ffffff;

// //PALETA 1
// $a-primary: #001627;
// $a-primary-2: #616674;
// $a-secondary: #0c5278;
// $a-secondary-2: #bbc1d1;
// $a-terciary: #702067;
// $a-terciary-2: #ad8aa9;
// $a-fourth: #2c1f16;
// $a-fourth-2: #aea49f;
// $a-fifth: #66713d;
// $a-fifth-2: #aeb397;

// //PALETA 2
// $b-primary: #001627;
// $b-primary-2: #6d717e;
// $b-secondary: #090c32;
// $b-secondary-2: #767186;
// $b-terciary: #0f193e;
// $b-terciary-2: #7b778d;
// $b-fourth: #003a3d;
// $b-fourth-2: #7e8e92;
// $b-fifth: #003225;
// $b-fifth-2: #74847d;

// //PALETA 3
// $c-primary: #001627;
// $c-primary-2: #6d717e;
// $c-secondary: #66713d;
// $c-secondary-2: #a8ab8d;
// $c-terciary: #483f8c;
// $c-terciary-2: #b7b0d0;
// $c-fourth: #7c3963;
// $c-fourth-2: #cfcadf;

// // ABOUT US ORIGINAL
// $about-us: #efefefa5;
// $about-us-text: #0137cc;
// // CONTACT ORIGINAL
// $contact-background: #000629;
// $contact-title: #ffffff;
// $contact-text-container: #ffffff;
// $contact-text-container-text: #0f3195;
// $contact-form-container: #111111;
// $contact-form-button-background: #0f3195;
// $contact-form-button-text: #ffffff;
// //PRODUCTS ORIGINAL
// $products-title: white;
// $products-hover: #357fbf;
// $products-description-background: transparent;
// $products-cards-title: #ffffff;
// $products-cards-text: #ffffff;
// //NAVBAR ORIGINAL
// $navbar-background: #00000039;
// $navbar-background-expanded: #000000;
// $navbar-background-expanded-menu: #000000;
// $navbar-expanded-link-text-color: #39cccc;
// $navbar-logo-hover: #00d1cdb0;
// $navbar-toggle-icon: #39cccc;
// $navbar-link-text-hover: #39cccc;
// $navbar--link-text-color: #ffffff;
// //FOOTER ORIGINAL
// $navbar-background: #111111;
// $footer-text: #ffffff;
