@import '../../helpers/colors.scss';

.navbar {
  width: 100%;
  height: 100px;
  background-color: $navbar-background;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.5s height ease-in-out;

  // &.active {
  //   background-color: #111111;
  // }

  &.expanded {
    position: fixed;
    top: 0;
    background-color: $navbar-background-expanded;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    z-index: 999;

    .right {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100px; /* Altura del navbar */
      left: 0;
      width: 100%;
      background-color: $navbar-background-expanded-menu;
      z-index: 998; /* Para que aparezca por debajo del navbar */
      align-items: center;
      padding: 25px;
      height: 100vh;
      .link {
        padding: 30px;
        font-size: 22px;
        color: $navbar-expanded-link-text-color;
        font-weight: 600;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .left {
    .logo {
      height: 60px;
      width: 60px;
      object-fit: cover;
      margin: 10px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        box-shadow: -6px 2px 79px 0px $navbar-logo-hover;
        -webkit-box-shadow: -6px 2px 79px 0px $navbar-logo-hover;
        -moz-box-shadow: -6px 2px 79px 0px $navbar-logo-hover;
      }
    }
  }
  .right {
    display: flex;
    gap: 30px;
    .link {
      color: $navbar--link-text-color;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      &:hover {
        color: $navbar-link-text-hover;
      }
    }
  }
  .toggle-icon {
    color: $navbar-toggle-icon;
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar .left .logo {
    height: 50px;
    width: 50px;
  }
  .navbar .toggle-icon {
    display: block;
  }
  .navbar .right {
    display: none;
  }
}
