.navbar {
  z-index: 999;
  background-color: #00000039;
  display: flex;
  justify-content: center;
  position: fixed; /* Cambiado a fixed para que siempre esté en la parte superior de la pantalla */
  top: 0;
  width: 100%;
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1024px;
    align-self: center;
    .left {
      .logo {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          box-shadow: -6px 2px 79px 0px rgba(0, 209, 205, 0.69);
          -webkit-box-shadow: -6px 2px 79px 0px rgba(0, 209, 205, 0.69);
          -moz-box-shadow: -6px 2px 79px 0px rgba(0, 209, 205, 0.69);
        }
      }
    }
    .right {
      .link {
        margin-left: 30px;
        color: white;
        font-size: 16px;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          color: #39cccc;
        }
      }
    }
  }
}
