.footer {
  height: 150px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 18px;
    font-weight: 300;
  }
}

@media screen and (max-width: 480px) {
  .footer p {
    font-size: 14px;
  }
}
