.products {
  height: 70vh;
  background-image: url('https://res.cloudinary.com/maxjhernandez/image/upload/v1704913022/products_dinzn0.png');
  background-size: cover; // Ajusta el tamaño para cubrir completamente el contenedor
  background-position: center; // Centra la imagen
}
