.products {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/maxjhernandez/image/upload/v1704992946/Disen%CC%83o_sin_ti%CC%81tulo_6_faddxg.png');
  background-size: cover; // Ajusta el tamaño para cubrir completamente el contenedor
  background-position: center; // Centra la imagen
  display: flex;
  justify-content: flex-start; // Espaciado entre los productos
  align-items: center;
  flex-direction: column;
  .productsTitle {
    margin-top: 40px;
    margin-bottom: 40px;
    h2 {
      color: white;
      font-size: 72px;
      font-weight: 400;
    }
  }
  .productsContainer {
    gap: 50px;
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: max-content;
      min-height: 500px;
      width: 250px;
      border-radius: 0 0 10px 10px;
      &:hover {
        box-shadow: -2px 11px 33px 0px #357fbf;
        -webkit-box-shadow: -2px 11px 33px 0px #357fbf;
        -moz-box-shadow: -2px 11px 33px 0px #357fbf;
      }
      .imgContainer {
        height: 250px;
        width: 250px;
        display: flex;
        margin-bottom: 25px;

        .productImg {
          height: 250px;
          width: 100%;
          object-fit: cover;
        }
      }
      .description {
        background-color: transparent;
        border-radius: 0 0 10px 10px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: white;
          padding: 20px;
        }
        ul {
          li {
            padding: 10px;
            color: white;
            text-decoration: none;
            list-style-type: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1004px) {
  .products {
    height: max-content;
  }
  .products .productsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .products .productsContainer .product {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .product .productsContainer .productsTitle h2 {
    font-size: 60px;
    margin: 40px;
  }
}
