@import '../../helpers/colors.scss';

.aboutUs {
  background-color: $a-light-blue;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  .aboutUsContent {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 120px;
    position: relative;

    &.hidden {
      display: none;
    }
    .left {
      width: 50vw;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 25px;
      }
      p {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        line-height: 1.3;
        text-align: justify;
      }
    }
    .right {
      width: 50vw;
      display: flex;
      justify-content: center;
      height: max-content;
      position: relative;
      height: 100%;
      img {
        padding: 20px;
        height: 400px;
      }
      p {
        position: absolute;
        top: 30%;
        background-color: $a-light-blue-transparent;
        color: $a-black;
        border-radius: 10px;
        padding: 15px;
        display: none;
      }
    }
  }
  .team {
    width: 100%;

    height: auto;
    background-color: $a-grey;
  }
  .team-expanded {
    height: auto;
    background-color: $a-grey;
  }
}

@media screen and (max-width: 800px) {
  .aboutUs {
    .aboutUsContent {
      height: 100%;
      flex-direction: column;
      .right {
        width: 100%;
        justify-content: center;
        img {
          height: 450px;
        }
        p {
          display: flex;
        }
      }
      .left {
        width: 90%;
      }
    }
    .team {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .aboutUs {
    min-height: fit-content;
    .aboutUsContent {
      .right {
        img {
          height: 400px;
        }
      }
      .left {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 0;
        p {
          padding: 25px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .aboutUs {
    .aboutUsContent {
      .right {
        img {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .aboutUs {
    .aboutUsContent {
      .right {
        justify-content: center;
        img {
          height: 250px;
        }
      }
    }
  }
}
