.aboutUs {
  height: 70vh;
  background-image: url('https://res.cloudinary.com/maxjhernandez/image/upload/v1704913022/about-us_edpjmy.png');
  background-size: cover; // Ajusta el tamaño para cubrir completamente el contenedor
  background-position: center; // Centra la imagen
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1400px;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 512px;
      border-radius: 50%;
      .img {
        width: 400px;
        height: 400px;
        animation: rotation 60s linear infinite;
      }
    }
    .right {
      width: 512px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      h1 {
        font-size: 72px;
        color: white;
        font-weight: 400;
        margin-bottom: 15px;
      }
      .topTitle {
        font-size: 14px;
        color: white;
        font-weight: 300;
        margin-bottom: 25px;
      }
      .pContainer {
        width: 400px;
        p {
          font-size: 18px;
          color: white;
          font-weight: 300;
          line-height: 1.3;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1004px) {
  .aboutUs {
    height: fit-content;
    align-items: flex-start;
  }
  .aboutUs .aboutUsContainer {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .aboutUs .aboutUsContainer .right {
    align-items: center;
  }
  .aboutUs .aboutUsContainer .right .topTitle {
    display: none;
  }
  .aboutUs .aboutUsContainer .right h1 {
    margin: 25px;
  }
  .aboutUs .aboutUsContainer .left .img {
    margin: 40px;
  }
}

@media screen and (max-width: 762px) {
  .aboutUs {
    height: fit-content;
    align-items: flex-start;
  }
  .aboutUs .aboutUsContainer {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .aboutUs .aboutUsContainer .right {
    align-items: center;
  }
  .aboutUs .aboutUsContainer .right .topTitle {
    display: none;
  }
  .aboutUs .aboutUsContainer .right h1 {
    margin: 25px;
    font-size: 60px;
  }
  .aboutUs .aboutUsContainer .right .pContainer p {
    font-size: 14px;
  }
  .aboutUs .aboutUsContainer .left .img {
    width: 300px;
    height: 300px;
    margin: 40px;
  }
}
